{% extends "layout.html" %}

{% block body %}
  <div>
    {{ link_breadcrumbs(breadcrumbs) }}
  </div>
  <table class="table table-striped table-nbviewer">
    <thead>
      <tr><th>Name</th></tr>
    </thead>
    <tbody>
      {% if len(breadcrumbs) > 1 %}
      <tr>
        <td>
            <a href="../">
              <i class="fa fa-backward fa-fw"></i> ..
            </a>
        </td>
      </tr>
      {% endif %}
      {% for entry in entries %}
        {% if entry.url or entry.name %}
        <tr>
          <td>
              {% if entry.class == "fa-share" %}
                  <a href="{{ from_base(entry.url) }}" download>
              {% else %}
                  <a href="{{ from_base(entry.url) }}">
              {% endif %}
              <i class="fa fa-fw {{entry.class}}"></i>
              {{entry.name}}
              </a>
              {% if path != '' %}
                {% set full_path = base_name + '/' + path %}
                {% set full_name = path + '/' + entry.name %}
              {% else %}
                {% set full_path = base_name %}
                {% set full_name = entry.name %}
              {% endif %}
              {% if full_path+'/'+entry.name in mynotebooks %}
                <i class="fa fa-fw fa-trash delete_my_notebook" title="Delete/unpublish this notebook" filename="{{full_name}}" section="{{base_name}}"></i>
              {% endif %}
          </td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <script>
  	if($('ol.breadcrumb li').length>1){
      $('a[href="../"]').attr('href', "../"+location.search);
    }
    var urlParams = new URLSearchParams(location.search);
    var baseName = urlParams.get('base_name');
    $('ol.breadcrumb li a').first().text(baseName);
    var newUrl = $('ol.breadcrumb li a').first().attr('href')+location.search;
    $('ol.breadcrumb li a').first().attr('href', newUrl);
    var sourceUrl = $('ol.breadcrumb li a').last().attr('href').replace(new RegExp('^\/urls*\/([^\/]*)\/public\/([^?/]+)/*([^?]*)/*\?.*'), 'https://$1/shared/$2?dir=/'+baseName+'/$3');
    $('ol.breadcrumb li a').last().after('<a class="download" href="'+sourceUrl+'"><i title="Download/import" class="fa fa-download"></i></a>');
    $('.delete_my_notebook').click(function(ev){
      var filename = $(ev.target).attr('filename');
      var section = $(ev.target).attr('section');
      $.ajax({
        url: 'https://sciencedata.dk/remote.php/notebooks',
        async: false,
        data: {
          action: 'delete',
          filename: filename,
          section: section
        },
        type: 'GET',
        xhrFields: {
          withCredentials: true
        },
        success: function(data) {
          $(ev.target).parent().parent().remove();
        },
        error: function(data) {
          alert('ERROR: Could not delete notebook.');
        },
      });
    });
  </script>
{% endblock %}
