{% extends "layout.html" %}

{% block body %}
  <div>
    {{ link_breadcrumbs(breadcrumbs) }}
  </div>
  <table class="table table-striped table-nbviewer">
    <thead>
      <tr><th>Name</th></tr>
    </thead>
    <tbody>
      {% if len(breadcrumbs) > 1 %}
      <tr>
        <td>
            <a href="../">
              <i class="fa fa-backward fa-fw"></i> ..
            </a>
        </td>
      </tr>
      {% endif %}
      {% for entry in entries %}
        {% if entry.url or entry.name %}
        <tr>
          <td>
              {% if entry.class == "fa-share" %}
                  <a href="{{ from_base(entry.url) }}" download>
              {% else %}
                  <a href="{{ from_base(entry.url) }}">
              {% endif %}
              <i class="fa fa-fw {{entry.class}}"></i>
              {{entry.name}}
              </a>
          </td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <script>
  	if($('ol.breadcrumb li').length>1){
      $('a[href="../"]').attr('href', "../"+location.search);
    }
    var urlParams = new URLSearchParams(location.search);
    var baseName = urlParams.get('base_name');
    $('ol.breadcrumb li a').first().text(baseName);
    var newUrl = $('ol.breadcrumb li a').first().attr('href')+location.search;
    $('ol.breadcrumb li a').first().attr('href', newUrl);
    var sourceUrl = $('ol.breadcrumb li a').last().attr('href').replace(new RegExp('^\/urls*\/([^\/]*)\/public\/([^?/]+)/*([^?]*)/*\?.*'), 'https://$1/shared/$2?dir=/'+baseName+'/$3');
    $('ol.breadcrumb li a').last().after('<a class="download" href="'+sourceUrl+'"><i title="Download/import" class="fa fa-download"></i></a>')
  </script>
{% endblock %}
