{% extends "layout.html" %}

{% block body %}
  {% if title or image or subtitle or text or show_input %}
  <header class="jumbotron masthead">
    <a href="/">
      {% if title and not image %}<h1>{{ title}}</h1>{% endif %}
      {% if image %}<h1>{{ image | safe }}</h1>{% endif %}
    </a>
    {% if subtitle %}<h2>{{ subtitle | safe }}</h2>{% endif %}
    {% if text %}
    {{ text | markdown | safe }}
    {% endif %}
    {% if show_input %}
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <form method="post" action="{{ from_base('/create/') }}">
          <div class="input-group">
            <input class="form-control"
             id="main-input"
             type="text"
             name="gistnorurl"
             autofocus="autofocus"
             placeholder="URL | GitHub username | GitHub username/repo | Gist ID"/>
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" type="button">
                Go!
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
    {% endif %} 
  </header>
  {% endif %}

  {% for section in sections %}
    <section>
      <h3 class="section-heading">{{section.header}}</h3>
      <div class="marketing">
        <ul class="thumbnails example-sites">
          {% for link in section.links %}
            <li class="col-md-4">
              <p class="marketing-byline" url="{{ from_base(link.url) }}" type={{link.type}}>{{link.text}}</p>
              <a class="thumbnail" href="{{ from_base(link.target) }}">
               <object data="{{ link.img }}" type="image/png" height="96px">
                  <img src="{{ static_url("/img/folder-o.png") }}" height="96px" />
                </object>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>
  {% endfor %}

  <style>
    .thumbnail {
      text-align: center;
    }
  </style>

  <script>
  $('.marketing-byline[type="folder"]').each(function(){
    var target = $(this).attr('url');
    var textUrl = target+"description.txt";
    $(this).load(textUrl);
  });
  </script>

{% endblock body %}
