{% extends "layout.html" %}

{% block body %}
  {% if title or image or subtitle or text or show_input %}
  <header class="jumbotron masthead">
    <span class="import_external" title="Import notebook from external URL">
      <img src="/static/img/import_external.png" width="24px" />
    </span>
      {% if title and not image %}<h1><a href="/">{{ title}}</a></h1>{% endif %}
      {% if image %}<h1>
      <a href="/">{{ image | safe }}</a>
      <a target="_top" id="popout" href="https://sciencenotebooks.dk/"><img title="Pop out" src="/static/img/fullscreen.svg"></a>
      </h1>{% endif %}
    {% if subtitle %}<h2>{{ subtitle | safe }}</h2>{% endif %}
    {% if text %}
    {{ text | markdown | safe }}
    {% endif %}
    {% if show_input %}
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <form method="post" action="{{ from_base('/create/') }}">
          <div class="input-group">
            <input class="form-control"
             id="main-input"
             type="text"
             name="gistnorurl"
             autofocus="autofocus"
             placeholder="URL | GitHub username | GitHub username/repo | Gist ID"/>
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" type="button">
                Go!
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
    {% endif %} 
  </header>
  {% endif %}

  {% for section in sections %}
    <section>
      <h3 class="section-heading">{{section.header}}</h3>
      <div class="marketing">
        <ul class="thumbnails example-sites">
          {% for link in section.links %}
            <li class="col-md-4">
              <a class="thumbnail" href="{{ from_base(link.target) }}">
              <p class="marketing-byline" url="{{ from_base(link.url) }}" type={{link.type}}>{{link.text}}</p>
               <object data="{{ link.img }}" type="image/png" height="96px">
                  <img src="{{ static_url("/img/folder-o.png") }}" height="96px" />
                </object>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>
  {% endfor %}

  <style>
    .thumbnail {
      text-align: center;
    }
    .row {
      display: none;
      margin-top: 36px;
    }
    .import_external {
      position: absolute;
      right: 50px;
      opacity: 0.4;
      cursor: pointer;
    }
    @media(max-width: 768px) and (max-height: 1024px), (max-height: 768px) and (max-width: 1024px){
      .import_external {
        display: none;
      }
    }
  </style>

  <script>
  $('.import_external').click(function(){$('.row').slideToggle();});
  var doSomething = function(extraStuff) {
    return function(newText, textStatus, jqXHR) {
      if(newText){
        newText = '<b>'+extraStuff.oldText+'</b> - '+newText
      }
      else{
        newText = extraStuff.oldText
      }
      extraStuff.item.html(newText);
    };
  };
  $('p.marketing-byline[type="folder"]').each(function(){
    var url = $(this).attr('url').replace(/\/public\//, "/shared/");
    url = url.replace(/\/+$/, "");
    var textUrl = url+"?files=description.txt&download";
    var oldText = $(this).text();
    var extraStuff = {
        item: $(this),
        oldText: oldText
    };
    $(this).load(textUrl, doSomething(extraStuff));
  });
  if(window.location!==window.parent.location){
    var popout = document.getElementById("popout");
    popout.style.display = "block";
    var els = document.getElementsByClassName("import_external");
    [].forEach.call(els, function (el) {el.style.display = "none";});
  }
  </script>

{% endblock body %}
